<!-- STATUS BAR -->
<div class="status-bar">
  <div class="status-left">
    <div class="status-item">
      <i class="codicon codicon-plug"></i>
      <span id="connectionIndicatorBase"></span>
      <span id="connectionStatus" data-i18n="connection.status.disconnected">Disconnected</span>
    </div>
    <div class="status-item">
      <i class="codicon codicon-eye-closed" id="watcherIcon"></i>
      <span id="watcherStatus" data-i18n="statusbar.watcher_off">Watcher: Off</span>
    </div>
    <div
      class="status-item"
      id="gdbServerStatus"
      style="display: none"
      title="External GDB RSP Server"
      data-i18n="[title]statusbar.gdb_server_title"
    >
      <i class="codicon codicon-debug"></i>
      <span id="gdbServerPort" data-i18n="statusbar.gdb_server">GDB :3333</span>
    </div>
  </div>
  <div class="status-right">
    <div class="status-item" id="currentSlotDisplay" data-i18n="statusbar.slot">Slot: 0</div>
    <div class="status-item">UTF-8</div>
    <div class="status-item">C</div>
    <div class="status-item"><i class="codicon codicon-bell"></i></div>
  </div>
</div>
